h1 {
	color: #1a237e;
}

h3 {
	color: #1a237e;
}
.headshot {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
.avatar {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

h5 {
	color: #1a237e;
}
