.SearchBar {
	border-radius: 18px;
	border-style: solid;
	border-color: black;
	background-color: rgb(226, 226, 226);
}
.load {
	height: 750px;
	position: relative;
	background-color: "red";
}
.Sup {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
}

p.Setmargin {
	margin-left: 3em;
	margin-right: 3em;
}

.square {
	height: 250px;
	max-width: 600px;
}

.image-cropper {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	margin-left: -25%;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	display: inline;
}
.profile-pic {
	display: inline;
	margin: 0 auto;
	margin-left: -25%;
	width: 100px;
	height: 100px;
}
