#wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	right: 50px;
	margin: auto;
}

#ball {
	height: 75px;
	width: 75px;
	background: blue;
	border-radius: 50px;
	position: absolute;
	left: 0;
	animation: animate 4s linear 0s infinite alternate;
}

@keyframes animate {
	from {
		left: 100%;
	}

	to {
		left: 0%;
	}
}
