img {
	width: 100%;
	height: 100%;
}

body {
	background-color: #121212;
}

h1 {
	color: #ffffff;
}

h2 {
	color: #ffffff;
}

div {
	color: #ffffff;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;

	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}
