<!DOCTYPE html>
<html>
	<head>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">

    
	</head>

	<body>
		<h1>Meet the Space Team:</h1>
        <br>
        <a href="{{ url_for('home') }}">Home</a>
        <br>
        <img src="{{ url_for('static', filename='images/Team.png') }}">
        <br>
        <br>
		<h3>Sonali</h3>
		<img src="{{ url_for('static', filename='images/S.png') }}">
        <br>
		<h3>Smruti Shah</h3>
		<img src="{{ url_for('static', filename='images/Sm.png') }}">
        <br>
		<h3>Namit Agrawal</h3>
		<img src="{{ url_for('static', filename='images/N.png') }}">
        <br>
		<h3>Jaiming Ji</h3>
		<img src="{{ url_for('static', filename='images/J.png') }}">
        <br>
		<h3>Evan Hodde</h3>
		<img src="{{ url_for('static', filename='images/E.png') }}">
        <br>
		<h3>Chinmayee</h3>
		<img src="{{ url_for('static', filename='images/C.png') }}">
	</body>
</html>
