<!DOCTYPE html>
<html>
	<head>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

    
	</head>

	<body>
		<h1>Launch it in Space</h1>
        <br>
        
        <a href="{{ url_for('about') }}">About Us</a>

        <br>
        <img src="{{ url_for('static', filename='images/StarField.png') }}">
	</body>
</html>
